# Python genel
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Ortak gizli dosyalar
.env
.env.*
*.env
*.log
log.txt

# VSCode ve sistem dosyaları
.vscode/
.DS_Store
Thumbs.db

# Bat ve script dosyaları hariç, hassas dosyalar
!*.bat
!*.vbs
